<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="account" type="com.jey.webapp.account.dto.AccountDTO"  />
		<typeAlias alias="product" type="com.jey.webapp.product.dto.ProductDTO"  />
		<typeAlias alias="productfile" type="com.jey.webapp.product.dto.ProductFileDTO"  />
		<typeAlias alias="producttype" type="com.jey.webapp.product.dto.ProductTypeDTO"  />
		<typeAlias alias="productsearch" type="com.jey.webapp.product.dto.ProductSearchDTO" />
		<typeAlias alias="productrecommend" type="com.jey.webapp.product.dto.ProductRecommendDTO"  />
		<typeAlias alias="cart" type="com.jey.webapp.cart.dto.CartDTO"  />
		<typeAlias alias="orderdetail" type="com.jey.webapp.order.dto.OrderDetailDTO"  />
		<typeAlias alias="order" type="com.jey.webapp.order.dto.OrderDTO"  />
		<typeAlias alias="adminorder" type="com.jey.webapp.order.dto.AdminOrderDTO"  />
		<typeAlias alias="adminorderdetail" type="com.jey.webapp.order.dto.AdminOrderDetailDTO"  />
		<typeAlias alias="review" type="com.jey.webapp.order.dto.ReviewDTO"  />
		<typeAlias alias="reviewsearch" type="com.jey.webapp.product.dto.ReviewSearchDTO"  />
		<typeAlias alias="like" type="com.jey.webapp.product.dto.LikeDTO"  />
	</typeAliases>
</configuration> 