@charset "UTF-8";


.productContainer {
	 width: 75%;
     margin: 0 auto;
}


.productIndividual {
	margin-top : 70px;
}
.productIndiv {
	padding : 0px 5px 80px;
}

.productBtnContainer {
     margin: 0 auto;
}

.productBtnIndividual {
	display : inline-block;
	
}

.productImg {
 	width: 100%; 
	height: 150px; 
} 


.btncustom {
   background-color: white;
   border-color : #3235A5;
   color: #3235A5;
}
.btn:hover {
   background-color: navy;
   color: white;
}