@charset "UTF-8";


.productContainer {
	 width: 75%;
     margin: 0 auto;
}


.productIndividual {
	margin-top : 70px;
}
.productIndiv {
	padding : 0px 5px 80px;
}

.productBtnContainer {
     margin: 0 auto;
}

.productBtnIndividual {
	display : inline-block;
	
}

.productImg {
 	width: 100%; 
	height: 150px; 
} 


/* .btncustom {
   background-color: white;
   border-color : #3235A5;
   color: #3235A5;
}
.btn:hover {
   background-color: navy;
   color: white;
}
 */


/* detail.jsp */

.btn-success {
  font-family: Raleway-SemiBold;
  font-size: 13px;
  color: rgba(103, 192, 103, 0.75);
  letter-spacing: 1px;
  line-height: 15px;
  border: 2px solid rgba(103, 192, 103, 0.75);
  border-radius: 40px;
  background: transparent;
  transition: all 0.3s ease 0s;
}

.btn-success:hover {
  color: #FFF;
  background: rgb(103, 192, 103, 0.75);
  border: 2px solid rgb(103, 192, 103, 0.75);
}
